
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #8d0fa7;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 48px;
    font-style: poppins;
    color: #fffefe;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
    padding: 0 20px;
    text-align: center;
    color: #666;
}

nav {
    background-color: #333;
    color: white;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
     color: #ffcc00;
}

section
{
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url("1.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}
section h2
{
    font-size: 10vw;
    color: #ffffff;
    background: #2200ff;
    padding: 10px 20px;
    mix-blend-mode:color-burn;


}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

