@import "https://fonts.googleapis.com/css2?family=Black+Ops+One&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Vollkorn:wght@500&display=swap";
/* Footer Container */
/* Footer Content */
/* Footer Logo */
/* Footer Links */
/* Footer Social Icons */
/* Footer Text */ 
* {
  font-family: "Black Ops One";
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #35495e;
  color: #ecf0f1;
  font-size: 1.4em;
  font-family: "black Ops One";
}

#header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.header-title h1 {
  font-size: 44px;
  margin: 0;
}

#main {
  background: url(images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px 20px 0;
}

table {
  border-spacing: 5px;
}
table tr:nth-child(even) td {
  background-color: #2980b9;
}
table tr:nth-child(odd) td {
  background-color: #3498db;
}

.heading {
  font-size: 30px;
  font-weight: 600;
}

td {
  padding: 10px;
  width: 300px;
  height: 60px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

select {
  border: 5px solid #2c3e50;
  font-size: 14px;
  background: #fff;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
}

#grad {
  width: 150px;
  background: #e74c3c;
}

tr:nth-child(even) #grad {
  background: #d35400;
}
tr:nth-child(odd) #grad {
  background: #e74c3c;
}
tr:last-child td {
  height: 80px;
}

button {
  margin: 10px;
  border: 2px solid #e67e22;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  font-size: 1em;
  padding: 12px 20px;
  width: 200px;
  text-align: center;
  background: #eaad1f;
  color: #fff;
  cursor: pointer;
}
button:hover {
  background: #e67e22;
}
button:focus {
  outline: none;
}

.btn {
  margin-left: 250px;
  font-family: "Black Ops One";
}

p {
  margin: 10px;
  display: inline;
}

#bottomBar {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

#unresisted {
  margin: 0 5px;
  margin-bottom: 20px;
}

#recommended img {
  margin: 0 5px;
  margin-top: 20px;
}

.heading1 {
  font-size: 26px;
  font-weight: 600;
}

#footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo img {
  max-width: 150px;
  height: auto;
}

.footer-logo1 img {
  max-width: 250px;
  height: auto;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-links ul li {
  margin-bottom: 10px;
}
.footer-links ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.footer-social a {
  display: inline-block;
  margin-right: 10px;
}
.footer-social img {
  max-width: 30px;
  height: auto;
}

.footer-text {
  margin-top: 20px;
  font-size: 14px;
}

@media screen and (max-width: 468px) {
  body {
    margin-left: -20px;
  }
  .header {
    max-width: 250%;
  }
  .header-title h1 {
    font-size: 3.5rem;
    font-size: 24px;
    margin: 0;
  }
  .heading {
    font-size: 1.3rem;
  }
  #main {
    max-width: -moz-fit-content;
    max-width: fit-content;
    background-size: 0%;
  }
  .btn {
    margin-left: 0;
    padding: 10px;
  }
  #unresisted {
    margin: 0 2px;
    margin-top: 10px;
  }
  #recommended img {
    margin: 0 2px;
    margin-top: 10px;
  }
  .heading1 {
    font-size: 1.1rem;
  }
  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    height: auto;
  }
  .footer-logo img {
    max-width: 100px;
    height: auto;
  }
  .footer-logo1 img {
    max-width: 100px;
    height: auto;
  }
}/*# sourceMappingURL=styles.css.map */ 
